.Order{
    width: 80%;
    box-shadow: 1px 5px 8px rgb(71, 68, 68);
    border: 1px solid rgb(153, 149, 149);
    text-align: center;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;

}