.Burger{
    width: 550px;
    margin: auto;
    height: 450px;
    overflow: auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

@media (max-width:600px)  {
    .Burger {
        width: 80%;
        height: 400px;
    }
}

@media (max-width:450px) {
    .Burger {
        width: 95%;
        height: 400px;
    }
}

